.active {
  background-color: #4caaf7;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #3ca8c3;
  background-image: url("../img/bg/background-main.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  margin-top: 100px;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
}
.flex-container {
  display: flex;
  justify-content: center;
}
.scroll-margin-top {
  scroll-margin-top: 40px;
}
.nav {
  width: 150px;
  font-size: 1.6rem;
}
.nav__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.nav__item {
  background-color: #23238d;
  margin-bottom: 10px;
}
.nav__link {
  display: block;
  padding: 10px 0 10px 20px;
  text-transform: uppercase;
  transition: all 0.5s ease;
}
.nav__link:hover {
  background-color: #3889cb;
}
.nav__link:active {
  background-color: #4caaf7;
}
.nav__link:last-child {
  margin-bottom: 0px;
}
.main-wrapper {
  margin-left: 15px;
}
.main {
  position: relative;
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-margin-top: 40px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0px -7px 21px -9px #000000;
  height: 600px;
  padding: 40px 35px 0 35px;
  max-width: 500px;
  min-width: 350px;
  z-index: 1;
}
.main::before {
  position: absolute;
  display: block;
  content: "";
  background: url("../img/bg/background-section.png");
  background-repeat: repeat;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.main--margin {
  margin-left: 10px;
}
.main__text {
  margin-top: 20px;
}
.main__title {
  font-size: 2.4rem;
  text-align: center;
  font-weight: bold;
}
.main__title--blue {
  color: #23238d;
}
.main__subtitle {
  margin: 0;
  font-size: 1.6rem;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}
.main__line {
  margin-top: 20px;
  height: 1px;
  border: 0;
  background: linear-gradient(to right, #c9d6dd00, gray, #c9d6dd00);
}
.main__description {
  margin-top: 20px;
  font-size: 1.6rem;
  text-align: justify;
}
.main__headlines {
  width: 100%;
}
.main__headlines-resume-skills {
  margin-top: 2rem;
}
.main__headlines-resume-skills_stack_title {
  position: relative;
  font-size: 1.8rem;
  padding-left: 50px;
}
.main__headlines-resume-skills_stack_title::before {
  position: absolute;
  content: "";
  background-image: url(../img/svg/imac.svg);
  background-size: cover;
  width: 40px;
  height: 30px;
  top: -1px;
  left: 5px;
}
.main .avatar {
  display: block;
  margin: 0 auto;
  height: 220px;
  width: 220px;
  border: 3.5px solid #23238d;
  border-radius: 50%;
}
.main .contacts--margin {
  margin-top: 20px;
}
.main .contacts {
  background-color: #23238d;
  text-align: center;
  border-radius: 5px;
}
.main .contacts__link {
  position: relative;
  display: inline-block;
  font-size: 1.25rem;
  padding: 15px 5px;
}
.main .contacts__link::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 1.5px;
  top: 32px;
  left: 0;
  display: block;
  background: #fff;
  transition: 400ms;
}
.main .contacts__link:hover::after {
  width: 100%;
}
.main .contacts__link::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1.4rem;
  transition: 0.3s;
}
.main .contacts__link.phone::before {
  content: "\f879";
}
.main .contacts__link.email::before {
  content: "\f1fa";
}
.main .contacts__slash {
  color: #ffff;
  font-size: 2rem;
  padding: 0 5px;
}
.main .socials-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}
.main .socials {
  text-align: center;
}
.main .socials__link {
  display: inline-block;
  margin-right: 10px;
}
.main .socials__link:last-child {
  margin-right: 0;
}
.main .socials__icon {
  color: #23238d;
  font-size: 3.25rem;
  transition: 0.3s;
}
.main .socials__icon:hover {
  color: #3889cb;
}
.main .btn-wrapper {
  margin-top: 20px;
}
.main .btn {
  cursor: pointer;
  position: relative;
  border: 0;
  background: #23238d;
  text-transform: uppercase;
  color: #fff;
  padding: 8px 35px;
  font-size: 1rem;
  height: 100%;
  transition: 0.3s;
}
.main .btn::before {
  position: absolute;
  content: "";
  background-image: url(../img/svg/download.svg);
  background-size: cover;
  width: 20px;
  height: 20px;
  left: 15px;
  top: 2px;
}
.main .btn:hover {
  background: #3889cb;
}
.main .title-headline {
  scroll-margin-top: 40px;
  font-size: 2.4rem;
  text-transform: uppercase;
  padding-bottom: 15px;
  border-bottom: 1.2px gray solid;
}
.main .head-icon-wrapper {
  margin-top: 10px;
}
.main .head-icon {
  position: relative;
  color: #23238d;
  border-left: 4px solid #23238d;
  font-size: 2rem;
  padding: 8px 55px;
}
.main .head-icon::before {
  position: absolute;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  top: 10;
  left: 20px;
}
.main .head-icon.resume::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 2.25rem;
  content: "\f183";
}
.main .head-icon.tech-stack::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 2.25rem;
  content: "\e4e5";
}
.main .head-icon.tools::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 2.25rem;
  content: "\f7d9";
}
.main .head-icon.image::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 2.25rem;
  content: "\f03e";
}
.main .skills__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
  margin-top: 10px;
}
.main .skill {
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-top: 5px;
  height: 30px;
}
.main .skill__icon {
  height: 100%;
  padding: 5px 10px 0 10px;
  display: block;
  background-color: blue;
  font-size: 2rem;
}
.main .skill__name {
  color: white;
  height: 100%;
  display: block;
  padding: 8px 10px 0 10px;
  font-weight: bold;
  background-color: #23238d;
  font-size: 1.25rem;
  text-transform: uppercase;
}
.career-wrapper {
  margin-top: 10px;
}
.career-text {
  border-style: double;
  border-color: gray;
  padding: 10px 20px;
}
.career-text__title {
  font-size: 1.75rem;
  margin-top: 10px;
  display: inline-block;
  position: relative;
}
.career-text__title:first-child::after {
  position: absolute;
  top: 3px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1.5rem;
}
.career-text__title.study::after {
  left: 50px;
  content: "\f19d";
}
.career-text__title.work::after {
  left: 50px;
  content: "\f0b1";
}
.career-text__title.army::after {
  left: 50px;
  content: "\e54e";
}
.career-text__title.hobbies::after {
  left: 70px;
  content: "\f206";
}
.career-text__subtitle {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 1.25rem;
  font-style: italic;
  position: relative;
}
.career-text__subtitle::after {
  content: "";
  position: absolute;
  display: block;
  height: 1px;
  width: 100%;
  top: 25px;
  background: gray;
}
.career-text__description {
  margin-bottom: 10px;
  color: var(--color-hr);
  font-size: 12px;
  text-align: justify;
}
.portfolio-wrapper {
  margin-top: 20px;
}
.portfolio-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  position: relative;
}
.portfolio-content__image {
  height: 250px;
  min-width: 70%;
}
.portfolio-block {
  color: white;
  background-color: #0c4c81;
  opacity: 0.5;
  position: absolute;
  height: 250px;
  min-width: 70%;
  top: 0;
  left: 62px;
}
.portfolio-block:hover {
  opacity: 0;
}
.home-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
}
.scroll-margin-top {
  scroll-margin-top: 40px;
}
.home__image {
  display: block;
  position: relative;
  width: 100%;
}
.home__title {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
}
.home__text {
  color: #fff;
  font-size: 2rem;
  line-height: 55px;
  background: rgba(35, 35, 141, 0.75);
}
.image-landscape {
  width: 100%;
}
